@import "../../variables.scss";

.send-message-form {
  grid-area: s;
}

.send-message-form {
  background: $sendMessageFormColor;
  display: flex;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: $sendMessageFormColor;
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: $themeColor;
}
